<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/transaction_list.css' %}">
</head>
<body>
    <h1>Transaction List</h1>
    <form method="get">
        <input type="serch" name="search" placeholder="Search by amount">
        <button type="submit">Search</button>
    </form>
    {% for transaction in transactions %}
     {{transaction.user.username}} {{ transaction.id }} - {{ transaction.transaction_type }} - {{ transaction.amount }} - {{ transaction.transaction_date }}<br>
    {% endfor %}
</body>
</html>